/* VARIABLES
============================*/

$base-margin: 20px;
$base-padding: 20px;

%hidden { display: none;}

/*GLOBAL
============================*/

.left{
	float: left;	
}

.right {
	float: right;
}

.hide {
	display: none;
}

.show {
	display: block;
}

	
	/*GLOBAL
	===========================*/

	body {
		background-image: url('../img/pattern_grey.png');
	}


	/*NAVBAR
	===========================*/
	.navbar {
		background-color: transparent;
		background-image: url('../img/pattern_header.png');
		position: fixed;
		border: none;
		border-radius: 0;
		top: 0;
		width: 100%;
		clear: both;
		margin: 0;


		.main-nav {
			margin: 0;
			padding: 0;
			overflow: hidden;
			li {
				list-style-type: none;

			}
			li.left{
				float: left;
				background: blue;
			}

			li.right {
				float: right;
				background: green;
			}
			li.center {
				height: 140px;
				background-size: cover;
				background-image: url('../img/header_middle.png');
				background-repeat: no-repeat;
				float: left;
				text-align: center;
			}
		}	
	}




	/*CONTENT
	======================================*/

	.wrapper {
		margin-top: 160px;

	}


	#aboutme, #contact {
		background-image: url('../img/pattern_bright.png');
	}






/* Landscape phones and down */
@media (max-width: 767px) {

/*NAVBAR
	===========================*/
	.navbar {

		.main-nav {
			overflow: hidden;
			li {
				list-style-type: none;
			}
			li.left{
				float:none;
			}

			li.right {
				float: none;
			}

			li.center {
			}

			li.nav-option {
				display: none;
			}
			
		}	
	}



	
 }