/* VARIABLES
============================*/
/*GLOBAL
============================*/
/* line 12, ../scss/main.scss */
.left {
  float: left;
}

/* line 16, ../scss/main.scss */
.right {
  float: right;
}

/* line 20, ../scss/main.scss */
.hide {
  display: none;
}

/* line 24, ../scss/main.scss */
.show {
  display: block;
}

/*GLOBAL
===========================*/
/* line 32, ../scss/main.scss */
body {
  background-image: url("../img/pattern_grey.png");
}

/*NAVBAR
===========================*/
/* line 39, ../scss/main.scss */
.navbar {
  background-color: transparent;
  background-image: url("../img/pattern_header.png");
  position: fixed;
  border: none;
  border-radius: 0;
  top: 0;
  width: 100%;
  clear: both;
  margin: 0;
}
/* line 51, ../scss/main.scss */
.navbar .main-nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 55, ../scss/main.scss */
.navbar .main-nav li {
  list-style-type: none;
}
/* line 59, ../scss/main.scss */
.navbar .main-nav li.left {
  float: left;
  background: blue;
}
/* line 64, ../scss/main.scss */
.navbar .main-nav li.right {
  float: right;
  background: green;
}
/* line 68, ../scss/main.scss */
.navbar .main-nav li.center {
  height: 140px;
  background-size: cover;
  background-image: url("../img/header_middle.png");
  background-repeat: no-repeat;
  float: left;
  text-align: center;
}

/*CONTENT
======================================*/
/* line 85, ../scss/main.scss */
.wrapper {
  margin-top: 160px;
}

/* line 91, ../scss/main.scss */
#aboutme, #contact {
  background-image: url("../img/pattern_bright.png");
}

/* Landscape phones and down */
@media (max-width: 767px) {
  /*NAVBAR
  	===========================*/
  /* line 107, ../scss/main.scss */
  .navbar .main-nav {
    overflow: hidden;
  }
  /* line 109, ../scss/main.scss */
  .navbar .main-nav li {
    list-style-type: none;
  }
  /* line 112, ../scss/main.scss */
  .navbar .main-nav li.left {
    float: none;
  }
  /* line 116, ../scss/main.scss */
  .navbar .main-nav li.right {
    float: none;
  }
  /* line 123, ../scss/main.scss */
  .navbar .main-nav li.nav-option {
    display: none;
  }
}
