/* VARIABLES
============================*/
/*GLOBAL
============================*/
/* line 13, ../scss/main.scss */
.left {
  float: left;
}

/* line 17, ../scss/main.scss */
.right {
  float: right;
}

/* line 21, ../scss/main.scss */
.hide {
  display: none;
}

/* line 25, ../scss/main.scss */
.show {
  display: block;
}

/*GLOBAL
===========================*/
/*NAVBAR
===========================*/
/* line 36, ../scss/main.scss */
.navbar {
  background-color: transparent;
  background-image: url("../img/pattern_header.png");
  position: fixed;
  top: 0;
  width: 100%;
  clear: both;
  padding: 20px;
  margin: 0;
}
/* line 47, ../scss/main.scss */
.navbar .main-nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 51, ../scss/main.scss */
.navbar .main-nav li {
  list-style-type: none;
  padding: 20px;
}
/* line 56, ../scss/main.scss */
.navbar .main-nav li.left {
  float: left;
  background: blue;
}
/* line 61, ../scss/main.scss */
.navbar .main-nav li.right {
  float: right;
  background: green;
}
/* line 65, ../scss/main.scss */
.navbar .main-nav li.center {
  float: none;
  background-color: yellow;
  float: left;
  text-align: center;
}

/*CONTENT
======================================*/
/* line 80, ../scss/main.scss */
.wrapper {
  margin-top: 160px;
}

/* Landscape phones and down */
@media (max-width: 767px) {
  /*NAVBAR
  	===========================*/
  /* line 94, ../scss/main.scss */
  .navbar .main-nav {
    overflow: hidden;
  }
  /* line 96, ../scss/main.scss */
  .navbar .main-nav li {
    list-style-type: none;
  }
  /* line 99, ../scss/main.scss */
  .navbar .main-nav li.left {
    float: none;
  }
  /* line 103, ../scss/main.scss */
  .navbar .main-nav li.right {
    float: none;
  }
  /* line 110, ../scss/main.scss */
  .navbar .main-nav li.nav-option {
    display: none;
  }
}
